<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- https://developers.google.com/+/branding-guidelines -->
    <p>
    <a href="google/auth">Link with Google</a>
    </p>

    <!-- http://login.amazon.com/button-guide -->
    <p>
    <a href="amazon/auth">Link with Amazon</a>
    </p>


    <% if ( user ) { %>
      <% if ( user.google.id ) { %>
        <p>
        <a href="google/revoke">Unlink from Google</a>
        </p>
      <% } %>

      <% if ( user.amazon.id ) { %>
        <p>
        <a href="amazon/revoke">Unlink from Amazon</a>
        </p>
      <% } %>
    <% } %>

    <p>
    <a href="https://security.google.com/settings/security/permissions">Manage Permisson on Google</a>
    </p>

    <p>
    <a href="https://www.amazon.com/ap/adam?_encoding=UTF8">Manage Permisson on Amazon</a>
    </p>

  </body>
</html>
