<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- https://developers.google.com/+/branding-guidelines -->
    <p>
    <a href="google/auth">Recover from Google Account</a>
    </p>

    <!-- http://login.amazon.com/button-guide -->
    <p>
    <a href="amazon/auth">Recover from Amazon Account</a>
    </p>

  </body>
</html>
